{
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 3,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next$",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/context/(.*)$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}